[Desktop Entry]
Type=Application
Name=NexusDeck
Comment=NexusDeck Companion - Stream Deck simulator server
Exec=@APP_DIR@/run-nexusdeck.sh
Icon=@APP_DIR@/nexusdeck.png
Terminal=false
Categories=Utility;
StartupNotify=false
StartupWMClass=nexusdeck
