[Desktop Entry]
Type=Application
Name=NexusDeck
Comment=NexusDeck Companion
Exec=@APP_DIR@/run-nexusdeck.sh
Terminal=true
Categories=Utility;
StartupNotify=false
